.top-row{
  background-color: #71c7ec;
  min-height: 15vh;
}

.logo{
  font-family: 'Dancing Script', cursive;
}

.second-blue-row{
  background-color: #71c7ec;
  min-height: 48vh;
}

p{
  font-size: 12px;
}

.button-color{
  background-color: #189ad3;
  border-color: #189ad3;
  border-radius: 16px;
  color: white;
}

.light-gray1{
  background-color: #f2f2f2;
  min-height: 25vh;
}

.light-gray2{
  background-color: #f2f2f2;
  min-height: 35vh;
}